# Practica dos

Grupo 14:
* Joaquín Ibáñez Penalva
* Aurora Zuoris

Para la realización de esta práctica  se usará la librería de numpy y sklearn.

In [2]:
import numpy as np
import pandas as pd

from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.model_selection import train_test_split

In [7]:
df = pd.read_csv('tiempos.csv', sep=';')
df.head()

         P1        P2        P3        P4        P5        P6   T_Final
0  02:52:01  04:14:12  05:56:53  06:25:24  08:34:23  10:36:25  11:43:18
1  02:43:32  04:13:40  06:11:44  06:48:12  09:16:50  11:14:02  12:18:22
2  03:08:03  04:39:34  06:29:37  06:59:38  09:40:45  12:08:35  13:23:45
3  03:15:20  04:48:13  06:37:29  07:05:43  09:39:46  12:09:50  13:20:18
4  03:15:53  04:56:32  06:55:22  07:33:08  10:19:46  12:46:40  14:23:46

In [8]:
def hhmmss_to_mins(x):
	h, m, s = map(int, x.split(':'))
	return h * 60 + m + s / 60

df = df.applymap(hhmmss_to_mins)
df.head()

,P1,P2,P3,P4,P5,P6,T_Final
0,172.016667,254.200000,356.883333,385.400000,514.383333,636.416667,703.300000
1,163.533333,253.666667,371.733333,408.200000,556.833333,674.033333,738.366667
2,188.050000,279.566667,389.616667,419.633333,580.750000,728.583333,803.750000
3,195.333333,288.216667,397.483333,425.716667,579.766667,729.833333,800.300000
4,195.883333,296.533333,415.366667,453.133333,619.766667,766.666667,863.766667

## Ejercicio 1

## Ejercicio 2